/*-------------------- fonts ------------------*/

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*-------------------- generalised styles ------------------*/

h1, .h1 {
    font-family: "libre baskerville", sans-serif;
}

h2, h3, h4, h5, h6, .h2, .h3, .h4, .h5, .h6 {
    font-family: "roboto", sans-serif;
}

.text {
    font-family: "montserrat", sans-serif;
}

/*-------------------- navbar ------------------*/

.nav-div {
    margin: 0;
    padding: 5px;
    width: 100%;
}

.nav-div a img {
    height: 120px;
    width: 120px;
    margin: 0;
}

.nav-title {
    font-size: 8vw;
    margin: 0;
    color: black;
}

.large-title {
    font-size: 0;
    color: black;
}

.navbar-brand {
    margin: 0;
}

.nav-div .mobile-menu {
    width: 320px;
    left: 0;
    top:8px;
}

.mobile-menu-link{
    color: red;
}

.break-menu {
    font-size: 0;
    margin: 5px 0;
}

.navbar-light .navbar-toggler {
    color: rgb(0, 0, 0);
    border-color: rgb(0, 0, 0);
}

/*-------------------- navbar media queries ------------------*/

@media only screen and (min-width: 375px) {

    .nav-div .mobile-menu {
        width: 375px;
        left: 0;
        top:8px;
    }

    .break-menu {
        font-size: 0;
    }
}

@media only screen and (min-width: 425px) {

    .nav-div .mobile-menu {
        width: 425px;
        left: 0;
        top:8px;
    }

    .break-menu {
        font-size: 0;
    }
}

@media only screen and (min-width: 576px) {

    .break-menu{
        font-size: 12px;
    }

    .mobile-menu-link{
        color: black;
    }

    .mobile-menu-link:hover{
        color: red;
        text-decoration: none;
    }

    .nav-div {
        flex-direction: column;
    }

    .nav-title {
        font-size: 32px;
    }
}

@media only screen and (min-width: 992px) {

    .nav-title {
        font-size: 0;
    }

    .large-title {
        font-size: 30px;
        margin: 0 10px;
    }

    .break-menu {
        font-size: 19px;
    }
}

/*-------------------- main content - home page ------------------*/

.hero-image {
    height: 75vh;
    width: 100vw;
    background-image: url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
}

.home-title-box {
    padding-top: 20px;
}

.home-title {
    color: black;
    font-size: 6vh;
    margin: 0;
}

/*-------------------- main content - schedule page ------------------*/

.schedule-content {
    background-color: black;
}

.alert {
    width: 100%;
    text-align: center;
}

.alert-text {
    margin-top: 1rem;
}

.schedule-title {
    color: #ffc107;
    font-size: 10vw;
}

.schedule-card {
    width: 100%;
    background-color: black;
    color: #ffc107;
}

.card-text {
    font-size: 8vw;
}

.icon-box {
    height: 5vh;
}

.chevron-icon {
    color: #ffc107;
    padding: 5px;
}

.chevron-icon:hover {
    color: red;
}

/*-------------------- footer ------------------*/

footer .footer-box {
    padding: 10px 5px 5px 5px;
}

footer .social-link-bg {
    width: 25px;
    height: 25px;
    background-color:rgba(253, 253, 253, 0.384);
}

footer .social-link-bg:hover {
    border: 1px red solid;
}

footer .c-text {
    font-size: 12px;
    margin: 0 0 0 5px;
}

footer .social-icon {
    color: black;
}

footer .social-icon:hover {
    color: red;
}

footer .social-link {
    text-decoration: none!important;
}