/*-------------------- fonts ------------------*/

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*-------------------- generalised styles ------------------*/

h1, .h1 {
    font-family: "libre baskerville", sans-serif;
}

h2, h3, h4, h5, h6, .h2, .h3, .h4, .h5, .h6 {
    font-family: "roboto", sans-serif;
}

.text {
    font-family: "montserrat", sans-serif;
}

/*-------------------- navbar ------------------*/

nav {
    margin: 0;
    padding: 5px;
    width: 100%;
}

nav a img {
    height: 120px;
    width: 120px;
}

nav .nav-title {
    font-size: 32px;
}

nav .mobile-menu {
    width: 425px;
    right: -114px;
}

.navbar-light .navbar-toggler {
    color: rgb(0, 0, 0);
    border-color: rgb(0, 0, 0);
}