/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* generalised styles  */

html {
    scroll-behavior: smooth;
}

html, body {
    height: 100%;
}

body > footer {
    position: sticky;
    top: 100vh;
}

h1, .h1 {
    font-family: "libre baskerville", sans-serif;
}

h2, h3, h4, h5, h6, .h2, .h3, .h4, .h5, .h6 {
    font-family: "roboto", sans-serif;
}

.text, p {
    font-family: "montserrat", sans-serif;
    color: #ffc107;
}

.content-title {
    color: #ffc107;
    font-size: 10vw;
}

.bg-blk {
    background-color: #000000;
}

.outline {
    border: 1px solid #ff0000;
    background-color: #000000;
}

/* navbar */

.nav-div {
    margin: 0;
    padding: 5px;
    width: 100%;
}

.nav-div a img {
    height: 120px;
    width: 120px;
    margin: 0;
}

.nav-title {
    font-size: 8vw;
    margin: 0;
    color: #000000;
}

.large-title {
    font-size: 0;
    color: #000000;
}

.navbar-brand {
    margin: 0;
}

.nav-div .mobile-menu {
    width: 100%;
    left: 0;
    top: 120px;
    z-index: 1;
}

.mobile-menu a:hover{
    color: #ffc107;
    text-decoration: none;
    background-color: #000000;
}

.mobile-menu-link{
    color: #000000;
}

.break-menu {
    font-size: 0;
    margin: 5px 0;
}

.navbar-light .navbar-toggler {
    color: #000000;
    border-color: #000000;
}

/* main content - home page */

.hero-image {
    height: 75vh;
    width: 100vw;
    background-image: url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
}

.home-title-box {
    padding-top: 20px;
}

.home-title {
    color: #000000;
    font-size: 6vh;
    margin: 0;
}

/* main content - schedule page */

.content-body {
    background-color: #000000;
}

.alert {
    width: 100%;
    text-align: center;
    border-radius: 0;
}

.alert-text {
    margin-top: 1rem;
    color: #000000;
}

.schedule-title-box {
    background-color: #000000;
}

.schedule-card {
    width: 75%;
    margin: 20px;
    background-color: #000000;
    color: #ffc107;
    padding: 10px;
    border: 1px solid #ff0000;
}

.card-text {
    font-size: 6vw;
}

.icon-box {
    height: 5vh;
}

.chevron-icon {
    color: #ffc107;
    padding: 5px;
}

.chevron-icon:hover {
    color: #ff0000;
}

/* main content - facilities page */

.facilities-background {
    background-color: #000000;
    padding: 10px;
}

.wrapper {
    border: 1px solid #ff0000;
    background-color: #000000;
    width: 90%;
    height: auto;
}

.spacer {
    margin-bottom: 20px;
}

.list {
    list-style: none;
    padding: 0;
}

/* main content - gallery page */

.gallery .content-title {
    margin-top: 10px;
}

.gallery .outline {
    margin: 10px;
    padding: 5px;
}

.gallery-img-1 {
    background-image: url(../images/benefits-of-muay-thai.jpg);
    height: 37vh;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    background-color: #000000;
    margin: 10px 0;
}

.gallery-img-2 {
    background-image: url(../images/knees.jpg);
    height: 37vh;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    background-color: #000000;
    margin: 10px 0;
}

.gallery-img-3 {
    background-image: url(../images/roundhouse.jpg);
    height: 37vh;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    background-color: #000000;
    margin: 10px 0;
}

.gallery-img-4 {
    background-image: url(../images/ring.jpg);
    height: 37vh;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    background-color: #000000;
    margin: 10px 0;
}

.gallery-img-5 {
    background-image: url(../images/class-1.jpg);
    height: 37vh;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    background-color: #000000;
    margin: 10px 0;
}

.img-des {
    margin: 0 10px;
}

/* main content - contact page */

.contact .content-title {
    margin-top: 10px;
}

.form-card {
    margin: 30px 0 50px 0;
}

.form-group {
    width: 95%;
    padding: 10px;
    margin: 5px;
}

.btn-primary {
    color: #ffc107;
    background-color: #000000;
    border-color: #ff0000;
    margin: 10px;
}

.btn-primary:hover {
    color: #000000;
    background-color: #ffc107;
    border-color: #ff0000;
}

/* footer */

footer .footer-box {
    padding: 10px 5px 5px 5px;
}

footer .social-link-bg {
    width: 25px;
    height: 25px;
    background-color:rgba(253, 253, 253, 0.384);
}

footer .social-link-bg:hover {
    border: 1px #ff0000 solid;
}

footer .c-text {
    font-size: 12px;
    margin: 0 0 0 5px;
}

.text-muted {
    color: #000000!important;
}

footer .social-icon {
    color: #000000;
}

footer .social-icon:hover {
    color: #ff0000;
}

footer .social-link {
    text-decoration: none!important;
}

/* media queries */

@media only screen and (min-width: 375px) {

    .break-menu {
        font-size: 0;
    }
}

@media only screen and (min-width: 576px) {

    .nav-div .mobile-menu {
        width: 0%;
        font-size: 0;
        top: 0;
    }

    .break-menu{
        font-size: 12px;
        margin: 10px;
    }

    .break-menu:hover{
        color: #000000;
        text-decoration: none;
        text-shadow: 2px 2px #ffdd79;
    }

    .mobile-menu-link{
        color: #000000;
        font-size: 0;
    }

    .nav-div {
        flex-direction: column;
    }

    .nav-title {
        font-size: 32px;
    }
}

@media only screen and (min-width: 768px) {

    .content-body {
        height: auto;
        width: 100%;
        background-image: url(../images/class-1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center bottom;
    }

    .schedule-title-box {
        background-color: transparent;
    }

    .schedule-title-box .content-title {
        font-size: 3rem;
        background-color: #000000;
        border-radius: 500px;
        width: 370px;
        text-align: center;
    }

    .schedule-card {
        width: 25%;
        height: 45%;
    }

    .card-text {
        font-size: 1.5rem;
    }

    .facilities-background {
        padding: 40px;
    }

    .facilities-background .wrapper .content-title {
        width: 100%;
        padding: 20px;
        font-size: 3rem;
    }

    .contact .content-title, .gallery .content-title {
        font-size: 3rem;
    }

    .gallery-img {
        padding: 0;
        margin: 0;
    }

    .gallery-text {
        padding: 0;
    }
}

@media only screen and (min-width: 992px) {

    .nav-title {
        font-size: 0;
    }

    .large-title {
        font-size: 30px;
        margin: 0 10px;
    }

    .break-menu {
        font-size: 19px;
    }
}

@media only screen and (min-width: 1024px) {

    .facilities-background .wrapper {
        width: 70%;
    }
    
}

@media only screen and (min-width: 1440px) {

    .schedule-card {
        margin: 40px;
    }

    .facilities-background .wrapper {
        width: 55%;
    }

}

@media only screen and (min-width: 1600px) {

    .schedule-card {
        margin: 40px 6%;
    }

}